.rates{
    &__form{
        margin-top: 0;
        padding: 48px 5px;
        background:#0243A6;
        justify-content: center;
    }
    &__wrapper{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding-top: 16px;
    }
}
.list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding-bottom: 30px;
}
