.footer {
  &__wrapper {
    background: #ffffff;
    padding: 40px 0;
  }
  &__top {
    display: grid;
    grid-template-columns: 250px 212px 181px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__bottom {
    max-width: 1000px;
    margin: 48px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #0243a6;
  }
  &__list {
    margin-top: 24px;
    & > li {
      font-size: 16px;
      line-height: 24px;
      color: #445978;
      & > a {
        font-size: 16px;
        line-height: 24px;
        color: #445978;
      }
    }
  }
}
.footer-contacts {
  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    position: relative;
    &:first-child {
      margin-top: 0;
      padding-left: 30px;
      &::before {
        transition: 0.3s ease-in-out;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../../assets/icons/phone.svg") no-repeat;
        background-position-x: center;
        position: absolute;
        left: 0;
      }
      &:hover {
        &::before {
          background: url("../../assets/icons/phone-blue.svg") no-repeat;
        }
      }
      & > a:hover {
        color: #0243a6;
      }
    }
    &:nth-child(2) {
      padding-left: 30px;
      &::before {
        transition: 0.3s ease-in-out;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../../assets/icons/map-pin.svg") no-repeat;
        background-position-x: center;
        position: absolute;
        left: 0;
      }
      &:hover {
        &::before {
          background: url("../../assets/icons/map-pin-blue.svg") no-repeat;
        }
      }
      & > a:hover {
        color: #0243a6;
      }
    }
    &:last-child {
      padding-left: 30px;
      &::before {
        transition: 0.3s ease-in-out;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../../assets/icons/mail.svg") no-repeat;
        background-position-x: center;
        position: absolute;
        left: 0;
      }
      &:hover {
        &::before {
          background: url("../../assets/icons/mail-blue.svg") no-repeat;
        }
      }
      & > a:hover {
        color: #0243a6;
      }
    }
  }
  &__phone {
  }
  &__email {
  }
}
.footer-routes {
  &__list {
  }
  &__icon {
    position: relative;
    fill: #0243a6;
    margin-left: 4px;
  }
  &__item {
    margin-top: 12px;
    transition: 0.3s ease-in-out;
    &:first-child {
      margin-top: 0;
    }
    &:hover > a {
      color: #0243a6;
    }
  }
  &__more {
    display: flex;
    align-items: center;
    color: #0243a6;
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    transition: 0.3s ease-in-out;
    & > svg {
      right: 0px;
    }
    &:hover {
      color: #445978;
      & > svg {
        right: -2px;
        fill: #445978;
      }
    }
  }
}
.footer-nav{
  &__item{
    margin-top: 12px;
    &:first-child{
      margin-top: 0;
    }
  }
  &__menu{

  }
}
.footer-payment {
  max-width: 190px;
  width: 100%;
}
.footer-social {
  margin-top: 100px;
  max-width: 182px;
  width: 100;
  & > h4{
    color:#445978;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
.footer-company{
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color:#6A85AB;
 
}
